extends base.pug

block content 
    <div class="w-ful h-full bg-white rounded-xl m-4 shadow-md mt-6 p-8">
        <h1 class="text-center text-3xl font-bold text-[#263238]">Edit #{user.name} Detail</h1>

        <div class="container mx-auto flex flex-wrap items-center flex-row w-full mt-4 bg-slate-100 text-gray-800 font-semibold text-center shadow-inner shadow-current rounded-xl p-2 px-4">
            <a class="ml-auto" href="/admin-dashboard/resources/user/records/#{user.id}/show">
                <button class="ml-auto shadow-md p-1 px-2 rounded-md m-1 flex items-center bg-white hover:bg-cyan-300">Show <img class="w-4 h-4 ml-2" src="../../../../../static/show.svg" alt=""></button>
            </a>
        </div>

        <div id="class-detail-container" class="sm:flex flex-wrap  mt-8">
            <div class="lg:w-[40rem] sm:w-[40rem] w-full  mx-auto mt-4">
                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">* Full Name</label>
                <input type="text" id="name" name="name" value="#{user.name}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
            <div class="lg:w-[40rem] sm:w-[40rem] w-full  mx-auto mt-4">
                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Id</label>
                <p class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">#{user.id}</p>
            </div>
            <div class="lg:w-[40rem] sm:w-[40rem] w-full  mx-auto mt-4">
                <label for="contact" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">* Contact</label>
                <input type="text" id="contact" name="contact" value="#{user.contact}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
            <div class="lg:w-[40rem] sm:w-[40rem] w-full  mx-auto mt-4">
                <label for="user-id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">* User Id</label>
                <input type="text" id="user-id" name="user-id" value="#{user.userId}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
            <div class="lg:w-[40rem] sm:w-[40rem] w-full  mx-auto mt-4">
                <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                <input type="text" id="password" name="password" value="#{user.password}" placeholder="12345678" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
            <div class="lg:w-[40rem] sm:w-[40rem] w-full  mx-auto mt-4">
                <label for="dob" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">* Date of Birth</label>
                <input type="date" placeholder="YYYY-MM-DD" id="dob" name="dob" value="#{user.dob}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
            <div class="lg:w-[40rem] sm:w-[40rem] w-full  mx-auto mt-4">
                <label for="role" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Role</label>
                <input type="text" id="role" name="role" value="#{user.role}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
            <div id="semester-container" class="lg:w-[40rem] sm:w-[40rem] w-full  mx-auto mt-4">
                <label for="semester" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Semester</label>
                <input type="number" min="1" max="8" id="semester" name="semester" value="#{user.semester}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
            <div id="branch-container" class="lg:w-[40rem] sm:w-[40rem] w-full  mx-auto mt-4">
                <label for="branch" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Branch</label>
                <input type="text" id="branch" name="branch" value="#{user.branch}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
            <div id="section-container" class="lg:w-[40rem] sm:w-[40rem] w-full  mx-auto mt-4">
                <label for="section" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Section</label>
                <input type="text" id="section" name="section" value="#{user.section}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
            <div id="batch-container" class="lg:w-[40rem] sm:w-[40rem] w-full  mx-auto mt-4">
                <label for="batch" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Batch</label>
                <input type="text" id="batch" name="batch" value="#{user.batch}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
            <div id="batch-container" class="lg:w-[40rem] sm:w-[40rem] w-full  mx-auto mt-4">
                <label for="course" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Course</label>
                <input type="text" id="course" name="course" value="#{user.course}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
            <div class="lg:w-[40rem] sm:w-[40rem] w-full  mx-auto mt-4">
                <label for="batch" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Created At</label>
                <p class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">#{user.createdAt}</p>
            </div>
            <div class="lg:w-[40rem] sm:w-[40rem] w-full  mx-auto mt-4">
                <label for="batch" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Updated At</label>
                <p class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">#{user.updatedAt}</p>
            </div>
            <div class="lg:w-[40rem] sm:w-[40rem] w-full mx-auto mt-4">
                <button class="w-full h-10 bg-gradient-to-tr from-blue-600 to-blue-400 mt-7 rounded-xl text-white font-bold text-md" onclick="updateDetail('#{user.id}')">Update User Details</button>
            </div>
            <div class="relative w-full mt-5 min-w-[200px]">
                <p id="error" class="text-green-600 text-xs"></p>
            </div>
        </div>  
    </div>

    script(src="../../../../../../javascript/admin/user/userEdit.js")